name: Build iOS

on:
  workflow_dispatch:

jobs:
  build-ios:
    runs-on: macos-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Unity - Builder
        uses: game-ci/unity-builder@v4
        env:
          UNITY_EMAIL: ${{ secrets.UNITY_EMAIL }}
          UNITY_PASSWORD: ${{ secrets.UNITY_PASSWORD }}
          UNITY_LICENSE: ${{ secrets.UNITY_LICENSE }}
        with:
          targetPlatform: iOS
          buildName: ios-build
          allowDirtyBuild: true

      - name: Archive Xcode project
        run: |
          cd build/iOS
          xcodebuild -scheme Unity-iPhone -configuration Release -archivePath output.xcarchive archive

      - name: Export unsigned IPA
        run: |
          cd build/iOS
          xcodebuild -exportArchive \
            -archivePath output.xcarchive \
            -exportOptionsPlist <(cat <<EOF
            {
              "method": "ad-hoc",
              "signingStyle": "manual",
              "compileBitcode": false,
              "signingCertificate": ""
            }
EOF
            ) \
            -exportPath ipa_output

      - name: Upload IPA
        uses: actions/upload-artifact@v4
        with:
          name: unsigned-ipa
          path: build/iOS/ipa_output

